@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.digital-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.time {
  margin: 0;
  padding: 1rem;
}